.order_summary_card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06);
    padding: 16px;
    button {
        height: 34px;
        color: rgba(1, 137, 106);
    }
    .tag {
        position: relative;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        &::after {
            content: '.';
            position: absolute;
            top: -4px;
            right: -4px;
        }
    }
}
