{
	"parser": "babel-eslint",
	"rules": {
		"no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "next"
			}
		],
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		],
		"prettier/prettier": "error",
		"arrow-body-style": "off",
		"prefer-arrow-callback": "off",
		"no-var": 2,
		"no-console": 0,
		"no-underscore-dangle": 0,
		"no-use-before-define": [
			"error",
			{
				"variables": false
			}
		],
		"no-multi-str": 0,
		"no-continue": 0,
		"no-return-await": 0,
		"import/extensions": 0
	},
	"env": {
		"node": true,
		"mocha": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": 9
	},
	"extends": ["prettier"],
	"plugins": ["unused-imports", "prettier"]
}
