.root {
    height: calc(100vh - 202px);
    .chat_inputs {
        .input_wraper {
            border: solid 1.5px #e6e6e6;
            background-color: #f1f1f1;
            .text_area_wraper {
                height: 50px;
            }
        }
    }
}
