.container {
    flex-shrink: 0;
    .profile_info {
        h5 {
            color: #2a2a2e;
        }
        p {
            color: #9797a0;
        }
    }
    .img_wraper {
        border-bottom-left-radius: 30px;
        height: 270px;
        overflow: hidden;
        margin-bottom: 13px;
        img {
            object-position: center;
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
        }
    }
    .like_count {
        color: #9797a0;
    }
    .dot {
        width: 3px;
        height: 3px;
        background-color: #9797a0;
    }
}
