.formWrapper {
    margin: auto;
    width: 520px;
    // height: 620px;
    padding: 40px 74px 30px 66px;
    border-radius: 6px;
    box-shadow: 0 25px 60px 0 rgba(75, 49, 0, 0.1);
    background-color: #fff;
}

.formHeading {
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.newTxt {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.createTxt {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #01896a;
}

.extraTxt {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9797a0;
}
.policyTxt {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: 0.65px;
    text-align: center;
    color: #63636a;
}
